[submodule "lib/yii"]
	path = lib/yii
	url = git://github.com/yiisoft/yii.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/mediasite/yii-bootstrap.git
[submodule "lib/ar-relation-behavior"]
	path = lib/ar-relation-behavior
	url = git@github.com:m8rge/activerecord-relation-behavior.git
[submodule "protected/helpers/CurlHelper"]
	path = protected/helpers/CurlHelper
	url = git@github.com:mediasite/CurlHelper.git
