[submodule "lib/yii"]
	path = lib/yii
	url = git://github.com/yiisoft/yii.git
[submodule "lib/twig"]
	path = lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "protected/extensions/bootstrap"]
	path = protected/extensions/bootstrap
	url = git://github.com/mediasite/yii-bootstrap.git
