<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />

	{{ void(App.clientScript.registerCssFile(App.request.baseUrl~'/css/main.css')) }}

	<title>{% block title %}{{ this.pageTitle }}{% endblock %}</title>
</head>

<body>

{% block mainMenu %}
{{ widget('bootstrap.widgets.BootNavbar',{
	'collapse' : true,
	'items':[
	{
		'class' : 'bootstrap.widgets.BootMenu',
		'items' : [
			{'label':'Главная', 'url':['/site/index']},
			{'label':'Создать карусельку', 'url':['/carousel/index'], 'visible':App.user.checkAccess('adminActions'), 'active' : this.id == 'carousel'},
		]
	},{
		'class' : 'bootstrap.widgets.BootMenu',
		'htmlOptions' : {'class':'pull-right'},
		'items' : [
			{'label':'Войти', 'url':['/site/login'], 'visible':App.user.isGuest},
			{'label':'Админ зона', 'url':'#', 'visible':App.user.checkAccess('adminActions'), 'items': [
				{'label':'Пользователи', 'url':['/admin/adminUsers'], 'active' : this.id == 'admin/adminUsers' },
				{'label':'Клиенты', 'url':['/admin/adminClients'], 'active' : this.id == 'admin/adminClients' },
			]},
			{'label':'Выйти ('~App.user.name~')', 'url':['/site/logout'], 'visible':not App.user.isGuest}
		]
	}]
}) }}
{% endblock %}

<div class="container" id="page">
	{% block content %}{% endblock %}
</div><!-- page -->

</body>
</html>
