{% extends '/views/layouts/main.twig' %}

{% block content %}

    <h1>{{ title }}</h1>

    {{ widget('bootstrap.widgets.TbAlert', {
    closeText : false,
    alerts: null,
    }) }}

    {% set form = new('TbForm', [
        form.formConfig|merge({
            activeForm: {
                class: 'TbActiveForm',
                type: 'horizontal',
                enableClientValidation: true,
                clientOptions: {
                    validateOnSubmit: true,
                },
            },
        }),
        form
    ]) %}
    {{ form.render()|raw }}

{% endblock %}