.horizontal-goods {
	border-bottom: 1px solid #e0e0e0;
}
.horizontal-goods li {
	padding: 10px;
	position: relative;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	clear: both;
	overflow: hidden;
	font: 11px/13px Arial, Tahoma, Sans-Serif;
	color: #464646;
}

.horizontal-goods li:hover {
	background: #f5f5f5;
}

.horizontal-goods li span,
.horizontal-goods li a {
	display: block;
}

.horizontal-goods li a,
.horizontal-goods li a:link,
.horizontal-goods li a:visited,
.horizontal-goods li a:hover,
.horizontal-goods li a:active {
	text-decoration: none;
	color: #464646;
}

.horizontal-goods__img {
	float: left;
	border: 1px solid #e0e0e0;
	background: white;
	margin-right: 20px;
	width: 86px;
	height: 86px;
	text-align: center;
}

.horizontal-goods__img img {
	max-width: 86px;
	max-height: 86px;
}

.horizontal-goods__cost {
	color: #e1472a;
	font: bold 14px/13px Arial, Tahoma, Sans-Serif;
	margin-top: 6px;
}

.horizontal-goods-container__header {
	text-align: center;
	border: 1px solid #dddddd;
	border-bottom: none;
	padding: 9px 0 18px 0;
}

.horizontal-goods-container__header p {
	margin-top: 14px;
	text-align: left;
	padding: 0 20px;
	font: 12px/14px Arial, Tahoma, Sans-Serif;
	color: #464646;
}
